.mark{
    font-weight: bold;
    background-color: rgb(204, 255, 255);
    color: rgb(255, 0, 0);
    border: thin solid rgb(0, 153, 255);
}

#scrollup{
    width: 35px;
    height: 35px;
    background: url("button.png") no-repeat scroll 0px 0px rgb(66, 139, 202);
    border-radius: 4px;
    float: left;
    position: fixed;
    z-index: 3;
}

#scrolldown{
    width: 35px;
    height: 35px;
    background: url("button.png") no-repeat scroll 0px -35px rgb(66, 139, 202);
    border-radius: 4px;
    float: left;
    position: fixed;
    z-index: 3;
}

#scrollup:hover{
    background: url("button.png") no-repeat scroll 0px 0px rgb(91, 192, 222);
}

#scrolldown:hover{
    background: url("button.png") no-repeat scroll 0px -35px rgb(91, 192, 222);
}

#scrollup.disabled{
    background: url("button.png") no-repeat scroll 0px 0px rgb(210, 210, 210);
}

#scrolldown.disabled{
    background: url("button.png") no-repeat scroll 0px -35px rgb(210, 210, 210);
}

#menu{
    float: left;
    position: fixed;
    z-index: 4;
}

#text{
    width: 25px;
    height: 25px;
    margin-bottom: 4px;
	display: block;
    border-radius: 4px;
    resize: none;
    padding: 4px;
}

#text:focus{
    width: 280px;
    height: 220px;
}



